<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>GMAO PADDY</title>

    <script src="https://unpkg.com/htmx.org@1.8.5"></script>

</head>
<body>
    <h1>GMAO</h1>

    {% for machine in machines %}
        <h2>{{ machine.name }}</h2>
    {% endfor %}

    <form method="POST" action="{% url 'add-machine' %}">
        {%  csrf_token %}
        <input type="text" name="machine-name">
        <button type="submit">Ajouter une machine</button>

    </form>
    <form method="POST" action="{% url 'add-pane' %}">
        {%  csrf_token %}
        <input type="text" name="panne-machine">
        <input type="text" name="panne-description">
        <button type="submit">Ajouter une panne</button>

    </form>

    {% for panne in panne %}
        <h2>{{ panne.description}}</h2>
    {% endfor %}

</body>
</html>